#user
sph-fluid.xcodeproj/project.xcworkspace/xcuserdata/
sph-fluid.xcodeproj/project.xcworkspace/xcshareddata/
sph-fluid.xcodeproj/xcuserdata/

#product
core/sph_fluid.1

#build
DerivedData/

#linked
*.o

#temporary
*.~